<div class="row">
    <div class="col-xs-10">
        <app-shoping-edit></app-shoping-edit>
        <hr>
        <ul class="list-group">
            <a class="list-group-item" style="cursor: pointer;" *ngFor="let ingredient of ingredients; let i = index;" (click)="onEditItem(i)">
                {{ ingredient.name }} ({{ ingredient.amount }})
            </a>
        </ul>
        <hr>
        <button class="btn btn-success" type="button" (click)="onSentList()">Sent to Firebase</button>
    </div>
</div>
